*{
    box-sizing: border-box;
}

body{
    font-family: Tahoma, Arial, sans-serif;
    background-color: #d2b48c;
    color: #221811;
    margin: 0;
}

#homehero{
    height: 300px;
    background-image: url("./graphics /road.jpg"); 
    background-repeat: no-repeat;
    background-size: 100%100%;
    background-position: center;
}
#heromugs{
    height: 300px;
    background-image: url("./graphics /threemugs.jpg"); 
    background-repeat: no-repeat;
    background-size: 100%100%;
    background-position: center;
}
#heroguitar{
    height: 300px;
    background-image: url("./graphics /guitar.jpg"); 
    background-repeat: no-repeat;
    background-size: 100%100%;
    background-position: center;
}

main{
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 2em;
    background-color: #fef6c2;


}


main h2{
    padding-left: 1em;
    padding-right: 1em;
}
main h3{
    padding-left: 1em;
    padding-right: 1em;
}
main h4{
    padding-left: 1em;
    padding-right: 1em;
}
main p{
    padding-left: 1em;
    padding-right: 1em;
}
main ul{
    padding-left: 2em;
    padding-right: 2em;
}
main div{
    padding-left: 1em;
    padding-right: 1em;

}
main dl{
    padding-left: 1em;
    padding-right: 1em;
}
header{
    background-color:#d2b48c;
    color: #231814;
    background-image: url("./graphics /cup.jpg") ;
    background-repeat: no-repeat;
    height: 128px;
    padding-top: 5px;
    padding-left: 105px;
    padding-bottom: 5px;
}
header a:link,
header a:visited{
    color: #231814;
    text-decoration: none;
}

header a:hover{
    color: #fef6c2;
    text-decoration: none;
}

h1{
    font-size: 2em;
    
}
h3{
    color: #8c3826;
}
dt{
    color: #8c3826;
}

h2{
    color: #8c3826;
   
}
h4{
    background-color:#d2b48c;
    font-size: 1.2em;
    padding-left: .5em;
    padding-bottom: .25em;
    text-transform: capitalize;
    border-bottom: 1px;
    padding-bottom: 0;
    clear: left;

}

nav{
    text-align: center;
    font-size: 1.5em;
    
   
  

}
nav ul{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 1.25em;

}
nav a{
    text-decoration: none;
}
nav a:link {
    color: #fef6c2;
}
nav a:visited {
    color: #d2b48c;
}
nav a:hover {
    color: #cc9933;
}
nav li{
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    border-bottom: 1px solid;
}
footer{
    text-align: center;
    font-size: small;
    font-style: italic;
    background-color: #d2b48c;
    padding: 1em;
    border-top: 2px solid #8c3826;
}

#wrapper {
    background-color: #231814;
    padding: 0;
  }
  
.details{
    padding-left: 20%;
    padding-right: 20%;
    overflow: auto;
}
img{
    padding-left: 10px;
    padding-right: 10px;
}

#mobile{
    display: inline;
}
#desktop{
    display: none;
}
@media (min-width: 600px){
   header{
    text-align: center;
    padding-left: 0;
   }

   h1{
    font-size: 3em;
   }

   nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
   }

   nav li {
    border-bottom: none;
   }

   #homehero{
    height: 50vh;
    background-image: url("./graphics /hero.jpg");
   }
   
   #heromugs{
    height: 50vh;
    background-image: url("./graphics /heromugs.jpg");
   }

    #heroguitar{
     height: 50vh;
     background-image: url("./graphics /heroguitar.jpg");
    }

    #flow{
        display: flex;
        flex-direction: row;
    }

    #mobile{
        display: none;
    }

    #desktop{
        display: inline;
    }

    .details{
        display: flex;
        flex-direction: row;
    }

    h4{
        margin-left: 10%;
        margin-right: 10%;
    }

    @media (min-width: 1024px){
        @supports(display:grid){
            header{
                grid-area: header;
            }
            nav {
                grid-area: nav;
            }
            main {
                grid-area: main;
            }
            footer {
                grid-area: footer;
            }

            #wrapper{
                display: grid;
                grid-template: 
                    "header header"
                    "nav main"
                    "footer footer"
                    /200px;
            }
            nav ul {
                flex-direction: column;
            }
            header{
                background-image: url("./graphics /coffeelogo.jpg");
            }
        }
    }
}